@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kaeeb Serif";
  src: url("./assets/Kaeeb-Serif.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: "Lato", ui-sans-serif, system-ui, sans-serif;
}

html[dir="rtl"] body {
  font-family: "Tajawal", ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}
